<div>
  <h2 class="text-xs font-semibold uppercase tracking-wider text-woodsmoke-400 mb-4">Discography</h2>

  <% if @sections.any? %>
    <div>
      <% @sections.each do |section| %>
        <%= render 'artists/discography_section',
                   artist: @artist,
                   pagy: section[:pagy],
                   release_groups: section[:release_groups],
                   release_type: section[:type] %>
      <% end %>
    </div>
  <% else %>
    <div class="p-8 text-center rounded-xl border border-woodsmoke-800 bg-woodsmoke-925">
      <p class="text-woodsmoke-400">No discography data available.</p>
    </div>
  <% end %>
</div>
