<%# locals: (cover_thumb:, vinyl_svg:, alt:) %>
<% if cover_thumb.present? && vinyl_svg.present? %>
  <div class="absolute top-1/2 -translate-y-1/2 right-0 w-[55%] aspect-square">
    <%= image_tag vinyl_svg, alt: "Vinyl record", class: "w-full h-full" %>
  </div>
  <div class="relative w-[70%] h-[70%] rounded overflow-hidden" style="margin-right: auto; margin-left: 4px;">
    <%= image_tag cover_thumb, alt: alt, loading: "lazy", decoding: "async", class: "w-full h-full object-cover" %>
  </div>
<% elsif cover_thumb.present? %>
  <%= image_tag cover_thumb, alt: alt, loading: "lazy", decoding: "async", class: "w-full h-full object-cover" %>
<% elsif vinyl_svg.present? %>
  <%= image_tag vinyl_svg, alt: "Vinyl record", class: "w-[75%] h-[75%]" %>
<% else %>
  <svg class="w-8 h-8 text-woodsmoke-500" fill="currentColor" viewBox="0 0 24 24">
    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 14.5c-2.49 0-4.5-2.01-4.5-4.5S9.51 7.5 12 7.5s4.5 2.01 4.5 4.5-2.01 4.5-4.5 4.5zm0-5.5c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1z"/>
  </svg>
<% end %>
